body {
	background-color: #ececec;
}

nav {
	position: fixed;
}

.footer {
	display: none;
	position: fixed;
	background-color: #969696;
}

#page_content {
	overflow-y: auto;
}

#enigme_title {
	margin-bottom: 1em;
}

p {
	word-wrap: break-word;
	text-align: justify;
	margin-bottom: 2em;
}

.nav_list:hover {
	background-color: #e7e7e7;
}
